::-webkit-scrollbar {
    display: none;
}
.boardWrapper{
    position: relative;
    height: calc(var(--var, 1vh) * 100 - 100px);
    overflow-y: scroll;
    padding: 1rem;
}
.boardTitle{
    display: flex;
    align-items: center;
    font-size: 0.825rem;
    height: 5%;
    margin-top: 1.5rem;
    color: black;
}
.ticketBtnWrapper{
    display: flex;
    align-items: center;
    justify-content: end;
}
.ticketIcon{
    margin: 0.3rem;
}
.tickerContainerWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
    border: 1px solid #DDDDDD ;
    border-radius: 6px;
    background-color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.ticketContainer{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.ticketTitle{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    font-size: 0.825rem;
    font-weight: bold;
}
.ticketCreateDate{
    width: 100%;
    text-align: center;
}
.ticketCircleIcon{
    display: flex;
    right: 1%;
    position: absolute;
}
.ticketContentContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45%;
}
.ticketLeft{
    width: 45%;
    display: flex;
    flex-direction: column;
}
.ticketMiddle{
    width: 5%;
    border-right: 2px solid #CBCBCB
}
.ticketMiddleMiddle{
    width: 5%;
}
.ticketRight{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ticketContentTitle{
    height: 13%;
    font-size: 0.825rem;
    font-weight: bold;
}
.ticketContentContent{
    height: 13%;
    font-size: 0.75rem;
    color : #5E5E5E;
}
.QRContainer{
    width: 100%;
    height: 100%;
}
.QRTitle{
    height: 13%;
    font-size: 0.875rem;
    font-weight: bold;
}
.QRCode{
    display: flex;
    align-items: center;
    height: 87%;
    
}
.QRQR{
    object-fit: contain !important;
}
.barcodeContainer{
    width: 100%;
    height: 33%;
}
.barcodeTitle{
    display: flex;
    align-items: center;
    height: 40%;
    font-size: 0.875rem;
    font-weight: bold;
    color: #001C30;
}
.barcode{
    height: 60%;
}
.barcodeImage{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.myMooco{
    display: flex;
    width: 100%;
    justify-content: center;
}
.myMoocoBtn{
    font-size: 0.75rem;
    height: 2.5rem;
    width: 10rem;
    border-radius: 4px;
    color: #001C30;
    border: 1px solid #001C30;
    margin: 2rem 0 1rem 0;
}
.myMoocoBtn:hover{
    transition: 0.1s;
    color: white;
    background-color: #001C30;
}
.GalleryWrapper{
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
}
.GalleryDate{
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 0.825rem;
    color: #5E5E5E;
}
.uploadBImgList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.uploadBImgBlock{
    flex : 0 0 auto;
    width: 25%;
    border-radius: 4px;
    height: 25%;
    overflow: hidden;
    margin: 0.5rem;
}
.uploadBImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.marginG{
    width: 100px;
    height: 100px;
}
.modalContentB{
    font-size: 0.825rem;
    font-weight: normal;
    color: #0D0C00;
    height: 30%;
}
.modalWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.modalBtnWrapperB{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.modalBtnB{
    width: 6rem;
    height: 2rem;
    color: #001C30;
    border: 1px solid#BABABA;
    border-radius: 4px;
    border-color: #001C30;
}
.modalBtnB:hover{
    border: 1px solid #001C30;
    color: white;
    border-radius: 4px;
    background-color: #001C30 ;
}
.modalCloseBtnB{
    color: #BABABA;
    position: absolute;
    top: 6%;
    right: 2%;
}
.modalCloseBtnB:hover{
    color: #001C30;
}