::-webkit-scrollbar {
    display: none;
}
.boardWrapper{
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    padding: 1rem;
}
.boardTitle{
    display: flex;
    align-items: center;
    font-size: 0.825rem;
    height: 5%;
    margin-top: 1.5rem;
}
.ticketBtnWrapper{
    display: flex;
    align-items: center;
    justify-content: end;
}
.ticketIcon{
    margin: 0.3rem;
}
.tickerContainerWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    border: 1px solid #DDDDDD ;
    border-radius: 4px;
}
.ticketContainer{
    display: flex;
    flex-direction: column;
    width: 95%;
}
.ticketTitle{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    font-size: 0.825rem;
    font-weight: bold;
}
.ticketCreateDate{
    width: 100%;
    text-align: center;
}
.ticketCircleIcon{
    display: flex;
    right: 1%;
    position: absolute;
}
.ticketContentContainer{
    display: flex;
    width: 100%;
    height: 45%;
}
.ticketLeft{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.ticketRight{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ticketContentTitle{
    height: 13%;
    font-size: 0.825rem;
    font-weight: bold;
}
.ticketContentContent{
    height: 13%;
    font-size: 0.75rem;
    color : #5E5E5E;
}
.QRContainer{
    width: 100%;
    height: 100%;
}
.QRTitle{
    height: 10%;
    font-size: 0.875rem;
    font-weight: bold;
}
.QRCode{
    display: flex;
    align-items: center;
    height: 90%;
}
.barcodeContainer{
    width: 100%;
    height: 33%;
}
.barcodeTitle{
    display: flex;
    align-items: center;
    height: 40%;
    font-size: 0.875rem;
    font-weight: bold;
    color: #DE684F;
}
.barcode{
    height: 60%;
}
.barcodeImage{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.myMooco{
    display: flex;
    width: 100%;
    justify-content: center;
}
.myMoocoBtn{
    font-size: 0.75rem;
    height: 2.5rem;
    width: 10rem;
    border-radius: 4px;
    color: #5E5E5E;
    border: 1px solid #F28B50;
    margin: 2rem 0 1rem 0;
}
.myMoocoBtn:hover{
    transition: 0.1s;
    color: #DE684F;
    border-color: #F28B50;
}
.GalleryWrapper{
    width: 100%;
}
.GalleryDate{
    display: flex;
    align-items: center;
    height: 2rem;
    font-size: 0.825rem;
    color: #5E5E5E;
}
.uploadBImgList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.uploadBImgBlock{
    flex : 0 0 auto;
    width: 100px;
    border-radius: 4px;
    height: 100px;
    overflow: hidden;
    margin: 0.5rem;
}
.uploadBImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.marginG{
    width: 100px;
    height: 100px;
}
.modalContent{
    font-weight: normal;
}
.modalBtnWrapper{
    display: flex;
    justify-content: space-evenly;
}
.modalBtn{
    width: 5.5rem;
    height: 2rem;
    color: #BABABA;
    border-color: #BABABA;
}
.modalBtn:hover{
    border: 1px solid #F28B50 ;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}
.modalCloseBtn{
    color: white;
    position: absolute;
    top: 6%;
    right: 3%;
}