body{
    position: relative;
    height: 100%;
}
.eventDisplayWrap{
    background-color: grey;
}
.header{
    height: 30%;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
}
.eventUploadList{
    -ms-overflow-style: none;
    height: 60%;
    overflow-y: scroll;
}
.eventUploadList::-webkit-scrollbar {
    display: none;
}
 
.block{
    height: 10%;
}