body{
    position: relative;

}
.eventDisplayWrap{
    height: calc(var(--vh, 1vh) * 100);
    overflow-y: hidden;
    background-image: url('../../assets/images/Event/eventBg.jpg');
    background-size: cover;
}
.header{
    height: 30%;
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
}
.eventUploadList{
    height: 60%;
    overflow-y: scroll;
}
.eventUploadList::-webkit-scrollbar {
    display: none;
}
 
.block{
    height: 10%;
}
.makeBarcode{
    display: flex;
    position: absolute;
    top: 70%;
    width: 100%;
    justify-content: center;
}
.makeBarcodeBtn{
    font-size: 0.75rem;
    height: 2.5rem;
    width: 10rem;
    border-radius: 4px;
    border: 1px solid #FAFAFA;
}