.modalWrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0.5rem;
}
.modalContent{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    margin-bottom: 0.5rem;
}
.notice{
    font-size: 0.7rem;
    color: white;
    margin-bottom: 0.5rem;
}
.highlight{
    color: #F28B50;
}
.modalBtnWrapper{

}
.modalBtn{
    width: 5.5rem;
    height: 2rem;
    color: white;
}
.modalBtn:hover{
    border: 1px solid #FAFAFA ;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}